<div id="game_over">
    <table>
        <tr>
            <td style="background-color: green;">G</td>
            <td style="background-color: green;">A</td>
            <td style="background-color: green;">M</td>
            <td style="background-color: green;">E</td>
        </tr>
        <tr>
            <td style="background-color:  yellow;">O</td>
            <td style="background-color:  yellow">V</td>
            <td style="background-color:  yellow">E</td>
            <td style="background-color:  yellow">R</td>
        </tr>
    </table>
    <button onclick="waiting();" style="background-color:rgb(170, 32, 32);"><a style="text-decoration: none;">Scoreboard</a></button>
    <p id="waiting">Waiting for others to finish <img style="border-radius: 80%;height:auto;width:20px;" src="1495.gif"></p>
</div>